<p>Product list</p>

<input (keydown)="filter($event)" />
<br>
<button type="button" (click)="doStuff()" title="test">test</button>
<br>
<ul>
  <li *ngFor="let item of searchedProductList | slice:this.paginationPage*this.paginationProductsperPage:(this.paginationPage+1)*this.paginationProductsperPage">
    <app-product [product]="item"></app-product>
  </li>
</ul>

<button type="button" *ngIf="this.showPrevButton" (click)="previous()">Previous Page</button>
{{this.paginationPage+1}}
<button type="button" *ngIf="this.showNextButton" (click)="next()">Next Page</button>
